.inline-group td {
    line-height: 34px;
}

.inline-group .form-row:nth-child(odd) {
    background: #EDF3FE;
}

.inline-group .add-button {
    background: url('../../admin/img/icon_addlink.gif') 0 50% no-repeat;
    margin-left: 10px;
    padding-left: 15px;
    border: 0;
    color: #5b80b2;
    cursor: pointer;
}

.inline-group .add-button:hover,
.inline-group .add-button:focus {
    color: #036;
}

.inline-group .change-button {
    background: url('../../admin/img/icon_changelink.gif') 0 50% no-repeat;
    margin-left: 10px;
    padding-left: 15px;
    border: 0;
    color: #5b80b2;
    cursor: pointer;
}

.inline-group .change-button:hover,
.inline-group .change-button:focus {
    color: #036;
}

.inline-group .change-button.disabled {
    opacity: 0.2;
    color: #999;
}

.inline-group .delete-button {
    background: url('../../admin/img/icon_deletelink.gif') 0 50% no-repeat;
    margin-left: 10px;
    padding-left: 15px;
    border: 0;
    color: #CC3434;
    cursor: pointer;
}

.inline-group .delete-button:hover,
.inline-group .delete-button:focus {
    color: #993333;
}

.inline-group .delete-button.disabled {
    opacity: 0.2;
    color: #999;
}

.inline-group .save-button {
    border: 2px solid #5b80b2;
    background: #7CA0C7 url(../../admin/img/default-bg.gif) bottom repeat-x;
    font-weight: bold;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
}

.inline-group .cancel-button {
    background: white url(../../admin/img/nav-bg.gif) bottom repeat-x;
    padding: 3px 5px;
    color: black;
    border: 1px solid #bbb;
    border-color: #ddd #aaa #aaa #ddd;
}

.inline-group .button-row {
    padding-left: 115px;
    padding-top: 20px;
    padding-bottom: 40px;
}


.inline-group .form-row.removed,
.inline-group .removed .form-row {
    background: #FFF4F9;
}

.inline-group .removed .form-row:nth-child(odd),
.inline-group .form-row:nth-child(odd).removed {
    background: #FFECF4;
}

.inline-group .removed * {
    text-decoration: line-through;
}

.inline-group .removed button.delete-button,
.inline-group .removed button.change-button {
    text-decoration: none;
}

.inline-group .add-button.disabled {
    color: #ddd;
}

.inline-group .form-row.errors {
    background: #FFC;
    border: 1px solid #F00;
}

/* Stacked */
.inline-group.stacked-inline .delete-button {
    padding: 0 0 0 15px;
}

.inline-group .hidden {
    display: none;
}

/* Pretty */
.inline-group.pretty .overview {
    position: relative;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.inline-group.pretty .editor {
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.inline-group.pretty.editor-active .overview {
    display: none;
    position: absolute;
}

.inline-group.pretty.editor-active .editor {
    opacity: 1;
}

.inline-group.pretty.editor-active .add-button {
    display: none;
}

.inline-group.pretty .form-row.errors .item {
    background: #FFC url('../../admin/img/icon_error.gif') 5px 50% no-repeat;
    padding-left: 25px;
}

.inline-group.pretty .change-form td {
    overflow: hidden;
}

.inline-group.pretty .change-form fieldset {
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    overflow: hidden;
    margin: -50% auto 50px;
    width: 90%;

}

.inline-group.pretty .change-form.original {
    display: none;
}

.inline-group.pretty .change-form.original fieldset {
    display: none;
}

.inline-group.pretty .change-form.active {
    background: #F5F8FF;
}

.inline-group.pretty .change-form.active fieldset {
    margin: 0 auto 50px;
}

.inline-group.pretty .change-form.active .form-row:nth-child(odd) {
    background: #FFF;
}

.inline-group.pretty .change-form.active > td {
    padding: 0;
}

.inline-group.pretty .change-form.active fieldset {
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}