.inline-group .form-row:nth-child(odd) {
    background: #EDF3FE;
}

.inline-group .add-button {
    background: url('../../admin/img/icon_addlink.gif') 0 50% no-repeat;
    margin-left: 10px;
    padding-left: 15px;
    border: 0;
    color: #5b80b2;
    cursor: pointer;
}

.inline-group .add-button:hover,
.inline-group .add-button:focus {
    color: #036;
}

.inline-group .delete-button {
    background: url('../../admin/img/icon_deletelink.gif') 0 50% no-repeat;
    margin-left: 10px;
    padding-left: 15px;
    border: 0;
    color: #CC3434;
    cursor: pointer;
}

.inline-group .delete-button:hover,
.inline-group .delete-button:focus {
    color: #993333;
}

.inline-group .form-row.removed {
    background: #FFF4F9;
}

.inline-group .form-row:nth-child(odd).removed {
    background: #FFECF4;
}

.inline-group .form-row.removed * {
    text-decoration: line-through;
}

.inline-group .form-row.removed button.delete-button {
    text-decoration: none;
}

.inline-group .add-button.disabled {
    color: #ddd;
}