{% load i18n admin_static admin_modify %}
<div class="inline-group pretty" id="{{ inline_admin_formset.formset.prefix }}-group">
    <div class="tabular inline-related">
        <fieldset class="module">
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            {{ inline_admin_formset.formset.management_form }}
            {{ inline_admin_formset.formset.non_form_errors }}

            <table class="overview">
                <thead>
                    <tr>
                        <th>{{ inline_admin_formset.opts.verbose_name|capfirst }}</th>
                        <th>{% trans "Edit" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for inline_admin_form in inline_admin_formset %}
                    <tr class="form-row{% if forloop.last %} empty-form{% endif %}">
                        <td class="item">
                            <span class="item-label">
                            {% if inline_admin_form.original %}
                            {{ inline_admin_form.original }}
                            {% endif %}
                            </span>
                            <div class="change-form hidden">
                            {% for fieldset in inline_admin_form %}
                                {% include "admin/includes/fieldset.html" %}

{#                                {% for line in fieldset %}#}
{#                                    {% for field in line %}#}
{#                                        {% if not field.field.is_hidden %}#}
{#                                            <div{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>#}
{#                                                {{ field.label }}#}
{#                                                {{ field.field }}#}
{#                                            </div>#}
{#                                        {% endif %}#}
{#                                    {% endfor %}#}
{#                                {% endfor %}#}
                            {% endfor %}
                            </div>
                        </td>
                        <td class="change">
                            <button class="change-button" type="button">
                                Bewerk {{ inline_admin_formset.opts.verbose_name|capfirst }}
                            </button>
                        </td>
                        <td class="delete">
                            {% if inline_admin_formset.formset.can_delete %}
                                {% if inline_admin_form.original %}
                                {{ inline_admin_form.deletion_field.field }}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="editor">

            </div>
        </fieldset>
    </div>

    <span class="add-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Add another {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="change-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Change {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="delete-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Remove {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="undelete-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Undo remove {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="cant-undelete-text hidden">{% spaceless %}
        {% blocktrans with inline_admin_formset.opts.verbose_name_plural|capfirst as verbose_name_plural %}
            You have reached the maximum number of {{ verbose_name_plural }}. Please remove a one first.
        {% endblocktrans %}
    {% endspaceless %}</span>

    <span class="item-label-field hidden">title</span>
</div>

{% comment %}
                    <tr class="form">{% spaceless %}
                        <td colspan="{{ inline_admin_form|cell_count }}">
                            {% if inline_admin_form.form.non_field_errors %}
                                {{ inline_admin_form.form.non_field_errors }}{% endif %}
                            {% for fieldset in inline_admin_form %}
                                {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                            {% if inline_admin_form.needs_explicit_pk_field %}
                                {{ inline_admin_form.pk_field.field }}{% endif %}
                            {{ inline_admin_form.fk_field.field }}
                            <button type="button" class="ok">{% trans "Ok" %}</button>
                        </td>
                    {% endspaceless %}</tr>
{% endcomment %}
