{% load i18n admin_static admin_modify %}
<div class="inline-group pretty" id="{{ inline_admin_formset.formset.prefix }}-group">
    <div class="tabular inline-related">
        <fieldset class="module">
            <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
            {{ inline_admin_formset.formset.management_form }}
            {{ inline_admin_formset.formset.non_form_errors }}

            <table class="overview">
                <thead>
                    <tr>
                        <th>Actions</th>
                    {% for field in inline_admin_formset.fields %}
                        {% if not field.widget.is_hidden %}
                            <th{% if field.required %} class="required"{% endif %}>{{ field.label|capfirst }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </thead>
                {% for inline_admin_form in inline_admin_formset %}
                <tbody class="{% if forloop.last %} empty-form{% endif %}">
                    <tr class="{% spaceless %}
                    form-row
                    {% if inline_admin_form.form.errors %} errors{% endif %}
                    {% endspaceless %}">
                        <td>
                            <span class="change">
                                <button class="change-button" type="button">
                                    Bewerk {{ inline_admin_formset.opts.verbose_name|capfirst }}
                                </button>
                            </span>
                            <span class="delete">
                            {% if inline_admin_formset.formset.can_delete %}
                                {% if inline_admin_form.original %}
                                {{ inline_admin_form.deletion_field.field }}
                                {% endif %}
                            {% endif %}
                            </span>
                        </td>


                        {% for fieldset in inline_admin_form %}
                            {% for line in fieldset %}
                                {% for field in line %}
                                    {% if not field.field.is_hidden %}
                                        <td{% if field.field.name %} class="field-{{ field.field.name }}"{% endif %}>
                                            {{ field.field.value|default_if_none:"" }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                    <tr class="change-form">
                        <td colspan="{{ inline_admin_form|cell_count }}">
                            {% if inline_admin_form.form.non_field_errors %}{{ inline_admin_form.form.non_field_errors }}{% endif %}
                            {% for fieldset in inline_admin_form %}
                                {% include "admin/includes/fieldset.html" %}
                            {% endfor %}
                            {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
                            {{ inline_admin_form.fk_field.field }}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>

            <div class="editor">

            </div>
        </fieldset>
    </div>

    <span class="add-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Add another {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="change-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Change {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="delete-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Remove {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="undelete-text hidden">
        {% blocktrans with inline_admin_formset.opts.verbose_name|capfirst as verbose_name %}
            Undo remove {{ verbose_name }}
        {% endblocktrans %}
    </span>
    <span class="cant-undelete-text hidden">{% spaceless %}
        {% blocktrans with inline_admin_formset.opts.verbose_name_plural|capfirst as verbose_name_plural %}
            You have reached the maximum number of {{ verbose_name_plural }}. Please remove a one first.
        {% endblocktrans %}
    {% endspaceless %}</span>

    <span class="item-label-field hidden">title</span>
</div>
